@{
                /**/

                ViewBag.Title = "Uprise Centre - Про нас";
}

<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h2>@Uprise.Resource.About</h2>

                <div class="page_link">
                    <a href="@Url.Action("Index")">@Uprise.Resource.Home</a>
                    <a href="@Url.Action("About")">@Uprise.Resource.About</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================About Area =================-->
<section class="about_area p_120">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                <div class="about-desc">
                    <div class="about-img-1 animate-box fadeInUp animated-fast" data-aos="fade-up" style="background-image: url(../../Images/SiteImages/gallery/aboutimg1.jpg);"></div>
                    <div class="about-img-2 animate-box fadeInUp animated-fast" data-aos="fade-up" style="background-image: url(../../Images/SiteImages/gallery/aboutimg2.jpg);"></div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                <div class="main_title" data-aos="fade-up">
                    <h2>
                        Uprise Centre
                    </h2>
                    <p style="font-size:22px;text-align:left;">
                        Uprise Centre – @Uprise.Resource.TitleAbout1
                    </p>
                </div>
                <div class="about_details" data-aos="fade-up">
                    <p style="font-size:20px;"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Uprise Centre </strong> @Html.Raw(@Uprise.Resource.TextCenter)</p>
                    <p></p>
                    <p class="text-center" style="font-size:20px;">@Html.Raw(@Uprise.Resource.TextCenter2)</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="gallery_area container">
    <div class="container section-top-border">
        <h3 class="title_color" data-aos="fade-up">@Uprise.Resource.Gallery</h3>
        <div class="row gallery-item">
            <div class="col-md-3" data-aos="fade-up">
                <a href="../../Images/SiteImages/gallery/g1.jpg" class="img-gal"><div class="single-gallery-image" style="background: url(../../Images/SiteImages/gallery/g1.jpg);"></div></a>
            </div>
            <div class="col-md-3" data-aos="fade-up">
                <a href="../../Images/SiteImages/gallery/g2.jpg" class="img-gal"><div class="single-gallery-image" style="background: url(../../Images/SiteImages/gallery/g2.jpg);"></div></a>
            </div>
            <div class="col-md-3" data-aos="fade-up">
                <a href="../../Images/SiteImages/gallery/g3.jpg" class="img-gal"><div class="single-gallery-image" style="background: url(../../Images/SiteImages/gallery/g3.jpg);"></div></a>
            </div>
            <div class="col-md-3" data-aos="fade-up">
                <a href="../../Images/SiteImages/gallery/g4.jpg" class="img-gal"><div class="single-gallery-image" style="background: url(../../Images/SiteImages/gallery/g4.jpg);"></div></a>
            </div>
            <div class="col-md-4" data-aos="fade-up">
                <a href="../../Images/SiteImages/gallery/g5.jpg" class="img-gal"><div class="single-gallery-image" style="background: url(../../Images/SiteImages/gallery/g5.jpg);"></div></a>
            </div>
            <div class="col-md-4" data-aos="fade-up">
                <a href="../../Images/SiteImages/gallery/g6.jpg" class="img-gal"><div class="single-gallery-image" style="background: url(../../Images/SiteImages/gallery/g6.jpg);"></div></a>
            </div>
            <div class="col-md-4" data-aos="fade-up">
                <a href="../../Images/SiteImages/gallery/g7.jpg" class="img-gal"><div class="single-gallery-image" style="background: url(../../Images/SiteImages/gallery/g7.jpg);"></div></a>
            </div>
            <div class="col-md-6" data-aos="fade-up">
                <a href="../../Images/SiteImages/gallery/g8.jpg" class="img-gal"><div class="single-gallery-image" style="background: url(../../Images/SiteImages/gallery/g8.jpg);"></div></a>
            </div>
            <div class="col-md-6" data-aos="fade-up">
                <a href="../../Images/SiteImages/gallery/g9.jpg" class="img-gal"><div class="single-gallery-image" style="background: url(../../Images/SiteImages/gallery/g9.jpg);"></div></a>
            </div>
            <div class="col-md-4" data-aos="fade-up">
                <a href="../../Images/SiteImages/gallery/g10.jpg" class="img-gal"><div class="single-gallery-image" style="background-repeat: no-repeat;background-position: center;background-image:url(../../Images/SiteImages/gallery/g10.jpg);"></div></a>
            </div>
            <div class="col-md-4" data-aos="fade-up">
                <a href="../../Images/SiteImages/gallery/g11.jpg" class="img-gal"><div class="single-gallery-image" style="background: url(../../Images/SiteImages/gallery/g11.jpg);"></div></a>
            </div>
            <div class="col-md-4" data-aos="fade-up">
                <a href="../../Images/SiteImages/gallery/g12.jpg" class="img-gal"><div class="single-gallery-image" style="background: url(../../Images/SiteImages/gallery/g12.jpg);"></div></a>
            </div>
            <div class="col-md-6" data-aos="fade-up">
                <a href="../../Images/SiteImages/gallery/g13.jpg" class="img-gal"><div class="single-gallery-image" style="background: url(../../Images/SiteImages/gallery/g13.jpg);"></div></a>
            </div>
            <div class="col-md-6" data-aos="fade-up">
                <a href="../../Images/SiteImages/gallery/g14.jpg" class="img-gal"><div class="single-gallery-image" style="background: url(../../Images/SiteImages/gallery/g14.jpg);"></div></a>
            </div>
        </div>
    </div>
</section>
<!--================End About Area =================-->
<!--================Team Area =================-->
<section class="team_area p_120">
    <div class="container">
        <div class="main_title" data-aos="fade-up">
            <h2>@Uprise.Resource.Team</h2>
            <p>@Uprise.Resource.TitleTeam1</p>
        </div>
     
        <div class="row team_inner" id="teachers" data-aos="fade-up">
            <div class="team-i">
                <div class="team_item">
                    <div class="team_img">
                        <img class="rounded-circle" src="~/Images/SiteImages/gallery/teacher1.jpg" alt="">
                        <div class="hover" style=" width:90%;">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="team_name">
                        <h4>@Uprise.Resource.Teacher1</h4>
                        <p>@Uprise.Resource.TeacherEnglishTitle</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="team_item">
                    <div class="team_img">
                        <img class="rounded-circle" src="~/Images/SiteImages/gallery/teacher2.jpg" alt="">
                        <div class="hover">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="team_name">
                        <h4>@Uprise.Resource.Teacher2</h4>
                        <p>@Uprise.Resource.TeacherEnglishTitle</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="team_item">
                    <div class="team_img">
                        <img class="rounded-circle" src="~/Images/SiteImages/gallery/teacher3.jpg" alt="">
                        <div class="hover">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="team_name">
                        <h4>@Uprise.Resource.Teacher3</h4>
                        <p>@Uprise.Resource.TeacherEnglishTitle</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="team_item">
                    <div class="team_img">
                        <img class="rounded-circle" src="~/Images/SiteImages/gallery/teacher4.jpg" alt="">
                        <div class="hover">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="team_name">
                        <h4>@Uprise.Resource.Teacher4</h4>
                        <p>@Uprise.Resource.TeacherEnglishTitle</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="team_item">
                    <div class="team_img">
                        <img class="rounded-circle" src="~/Images/SiteImages/gallery/teacher5.jpg" alt="">
                        <div class="hover">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="team_name">
                        <h4>@Uprise.Resource.Teacher5</h4>
                        <p>@Uprise.Resource.TeacherEnglishTitle</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="team_item">
                    <div class="team_img">
                        <img class="rounded-circle" src="~/Images/SiteImages/gallery/teacher6.jpg" alt="">
                        <div class="hover">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="team_name">
                        <h4>@Uprise.Resource.Teacher6</h4>
                        <p>@Uprise.Resource.TeacherEnglishTitle</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="team_item">
                    <div class="team_img">
                        <img class="rounded-circle" src="~/Images/SiteImages/gallery/teacher7.jpg" alt="">
                        <div class="hover">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="team_name">
                        <h4>@Uprise.Resource.Teacher7</h4>
                        <p>@Uprise.Resource.TeacherEnglishTitle</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="team_item">
                    <div class="team_img">
                        <img class="rounded-circle" src="~/Images/SiteImages/gallery/teacher8.jpg" alt="">
                        <div class="hover">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="team_name">
                        <h4>@Uprise.Resource.Teacher8</h4>
                        <p>@Uprise.Resource.TeacherEnglishTitle</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="team_item">
                    <div class="team_img">
                        <img class="rounded-circle" src="~/Images/SiteImages/gallery/teacher9.jpg" alt="">
                        <div class="hover">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="team_name">
                        <h4>@Uprise.Resource.Teacher9</h4>
                        <p>@Uprise.Resource.TeacherEnglishTitle</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="team_item">
                    <div class="team_img">
                        <img class="rounded-circle" src="~/Images/SiteImages/gallery/teacher10.jpg" alt="">
                        <div class="hover">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="team_name">
                        <h4>@Uprise.Resource.Teacher10</h4>
                        <p>@Uprise.Resource.TeacherEnglishTitle</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="team_item">
                    <div class="team_img">
                        <img class="rounded-circle" src="~/Images/SiteImages/gallery/teacher11.jpg" alt="">
                        <div class="hover">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="team_name">
                        <h4>@Uprise.Resource.Teacher11</h4>
                        <p>@Uprise.Resource.TeacherEnglishTitle</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="team_item">
                    <div class="team_img">
                        <img class="rounded-circle" src="~/Images/SiteImages/gallery/teacher12.jpg" alt="">
                        <div class="hover">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="team_name">
                        <h4>@Uprise.Resource.Teacher12</h4>
                        <p>@Uprise.Resource.TeacherEnglishTitle</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="team_item">
                    <div class="team_img">
                        <img class="rounded-circle" src="~/Images/SiteImages/gallery/teacher13.jpg" alt="">
                        <div class="hover">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="team_name">
                        <h4>@Uprise.Resource.Teacher13</h4>
                        <p>@Uprise.Resource.TeacherArtTitle</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="team_item">
                    <div class="team_img">
                        <img class="rounded-circle" src="~/Images/SiteImages/gallery/teacher14.jpg" alt="">
                        <div class="hover">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="team_name">
                        <h4>@Uprise.Resource.Teacher14</h4>
                        <p>@Uprise.Resource.TeacherEnglishTitle</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="team_item">
                    <div class="team_img">
                        <img class="rounded-circle" src="~/Images/SiteImages/gallery/teacher15.jpg" alt="">
                        <div class="hover">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="team_name">
                        <h4>@Uprise.Resource.Teacher15</h4>
                        <p>@Uprise.Resource.TeacherEnglishTitle</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="team_item">
                    <div class="team_img">
                        <img class="rounded-circle" src="~/Images/SiteImages/gallery/teacher16.jpg" alt="">
                        <div class="hover">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="team_name">
                        <h4>@Uprise.Resource.Teacher16</h4>
                        <p>@Uprise.Resource.TeacherEnglishTitle</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--================End Team Area =================-->



@section scripts{
    <script>
        $(function () {
            $('#teachers').slick({
                infinite: true,
                dots: true,
                slidesToShow: 4,
                autoplay: true,
                autoplaySpeed: 5000,
                responsive: [
                    {
                        breakpoint: 994,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2,
                            infinite: true,
                            dots: true
                        }
                    },
                    {
                        breakpoint: 2048,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3,
                            infinite: true,
                            dots: true
                        }
                    },
                    {
                        breakpoint: 993,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                    ]
            });
            $("#btnHome").removeClass("active");
            $("#btnAbout").addClass("active");
            $("#btnCourses").removeClass("active");
            $("#btnContact").removeClass("active");
        });
    </script>
}