@{
                /**/

                ViewBag.Title = "Uprise Centre - Про нас";
}

<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h2>@Uprise.Resource.About</h2>

                <div class="page_link">
                    <a href="@Url.Action("Index")">@Uprise.Resource.Home</a>
                    <a href="@Url.Action("About")">@Uprise.Resource.About</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================About Area =================-->
<section class="about_area p_120">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                <div class="about-desc">
                    <div class="about-img-1 animate-box fadeInUp animated-fast" data-aos="fade-up" style="background-image: url(../../Images/SiteImages/gallery/aboutimg1.jpg);"></div>
                    <div class="about-img-2 animate-box fadeInUp animated-fast" data-aos="fade-up" style="background-image: url(../../Images/SiteImages/gallery/aboutimg2.jpg);"></div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                <div class="main_title" data-aos="fade-up">
                    <h2>
                        Uprise Centre
                    </h2>
                    <p style="font-size:22px;text-align:left;">
                        Uprise Centre – @Uprise.Resource.TitleAbout1
                    </p>
                </div>
                <div class="about_details" data-aos="fade-up">
                    <p style="font-size:20px;"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Uprise Centre </strong> @Html.Raw(@Uprise.Resource.TextCenter)</p>
                    <p></p>
                    <p class="text-center" style="font-size:20px;">@Html.Raw(@Uprise.Resource.TextCenter2)</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="gallery_area container">
    <div class="container section-top-border">
        <h3 class="title_color" data-aos="fade-up">@Uprise.Resource.Gallery</h3>
        <div class="row gallery-item">
            <div class="col-md-3" data-aos="fade-up">
                <a href="../../Images/SiteImages/gallery/g1.jpg" class="img-gal"><div class="single-gallery-image" style="background: url(../../Images/SiteImages/gallery/g1.jpg);"></div></a>
            </div>
            <div class="col-md-3" data-aos="fade-up">
                <a href="../../Images/SiteImages/gallery/g2.jpg" class="img-gal"><div class="single-gallery-image" style="background: url(../../Images/SiteImages/gallery/g2.jpg);"></div></a>
            </div>
            <div class="col-md-3" data-aos="fade-up">
                <a href="../../Images/SiteImages/gallery/g3.jpg" class="img-gal"><div class="single-gallery-image" style="background: url(../../Images/SiteImages/gallery/g3.jpg);"></div></a>
            </div>
            <div class="col-md-3" data-aos="fade-up">
                <a href="../../Images/SiteImages/gallery/g4.jpg" class="img-gal"><div class="single-gallery-image" style="background: url(../../Images/SiteImages/gallery/g4.jpg);"></div></a>
            </div>
            <div class="col-md-4" data-aos="fade-up">
                <a href="../../Images/SiteImages/gallery/g5.jpg" class="img-gal"><div class="single-gallery-image" style="background: url(../../Images/SiteImages/gallery/g5.jpg);"></div></a>
            </div>
            <div class="col-md-4" data-aos="fade-up">
                <a href="../../Images/SiteImages/gallery/g6.jpg" class="img-gal"><div class="single-gallery-image" style="background: url(../../Images/SiteImages/gallery/g6.jpg);"></div></a>
            </div>
            <div class="col-md-4" data-aos="fade-up">
                <a href="../../Images/SiteImages/gallery/g7.jpg" class="img-gal"><div class="single-gallery-image" style="background: url(../../Images/SiteImages/gallery/g7.jpg);"></div></a>
            </div>
            <div class="col-md-6" data-aos="fade-up">
                <a href="../../Images/SiteImages/gallery/g8.jpg" class="img-gal"><div class="single-gallery-image" style="background: url(../../Images/SiteImages/gallery/g8.jpg);"></div></a>
            </div>
            <div class="col-md-6" data-aos="fade-up">
                <a href="../../Images/SiteImages/gallery/g9.jpg" class="img-gal"><div class="single-gallery-image" style="background: url(../../Images/SiteImages/gallery/g9.jpg);"></div></a>
            </div>
            <div class="col-md-4" data-aos="fade-up">
                <a href="../../Images/SiteImages/gallery/g10.jpg" class="img-gal"><div class="single-gallery-image" style="background-repeat: no-repeat;background-position: center;background-image:url(../../Images/SiteImages/gallery/g10.jpg);"></div></a>
            </div>
            <div class="col-md-4" data-aos="fade-up">
                <a href="../../Images/SiteImages/gallery/g11.jpg" class="img-gal"><div class="single-gallery-image" style="background: url(../../Images/SiteImages/gallery/g11.jpg);"></div></a>
            </div>
            <div class="col-md-4" data-aos="fade-up">
                <a href="../../Images/SiteImages/gallery/g12.jpg" class="img-gal"><div class="single-gallery-image" style="background: url(../../Images/SiteImages/gallery/g12.jpg);"></div></a>
            </div>
            <div class="col-md-6" data-aos="fade-up">
                <a href="../../Images/SiteImages/gallery/g13.jpg" class="img-gal"><div class="single-gallery-image" style="background: url(../../Images/SiteImages/gallery/g13.jpg);"></div></a>
            </div>
            <div class="col-md-6" data-aos="fade-up">
                <a href="../../Images/SiteImages/gallery/g14.jpg" class="img-gal"><div class="single-gallery-image" style="background: url(../../Images/SiteImages/gallery/g14.jpg);"></div></a>
            </div>
        </div>
    </div>
</section>
<!--================End About Area =================-->
<!--================Team Area =================-->
<section class="team_area p_120">
    <div class="container">
        <div class="main_title" data-aos="fade-up">
            <h2>@Uprise.Resource.Team</h2>
            <p>@Uprise.Resource.TitleTeam1</p>
        </div>
        <div class="row team_inner" data-aos="fade-up">
            <div class="col-lg-3 col-sm-6">
                <div class="team_item">
                    <div class="team_img">
                        <img class="rounded-circle" src="~/Images/SiteImages/gallery/teacher1.jpg" alt="">
                        <div class="hover">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="team_name">
                        <h4>Лісничик Ольга Сергіївна</h4>
                        <p>Викладач англійської мови</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="team_item">
                    <div class="team_img">
                        <img class="rounded-circle" src="~/Images/SiteImages/gallery/teacher2.jpg" alt="">
                        <div class="hover">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="team_name">
                        <h4>Савчук Наталія Олександрівна</h4>
                        <p>Викладач англійської мови</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="team_item">
                    <div class="team_img">
                        <img class="rounded-circle" src="~/Images/SiteImages/gallery/teacher3.jpg" alt="">
                        <div class="hover">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="team_name">
                        <h4>Ганчук Антоніна Миколаївна</h4>
                        <p>Викладач англійської мови</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="team_item">
                    <div class="team_img">
                        <img class="rounded-circle" src="~/Images/SiteImages/gallery/teacher4.jpg" alt="">
                        <div class="hover">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="team_name">
                        <h4>Юсенко Катерина Іванівна</h4>
                        <p>Викладач англійської мови</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--================End Team Area =================-->



@section scripts{
    <script>
        $(function () {
            $("#btnHome").removeClass("active");
            $("#btnAbout").addClass("active");
            $("#btnCourses").removeClass("active");
            $("#btnContact").removeClass("active");
        });
    </script>
}