
@{
    ViewBag.Title = "Uprise Centre - Курси - Арт-школа";
}
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h2>@Uprise.Resource.ArtSchool</h2>
                <div class="page_link">
                    <a href="@Url.Action("Index")">@Uprise.Resource.Home</a>
                    <a href="@Url.Action("Courses")">@Uprise.Resource.Courses</a>
                    <a href="@Url.Action("ArtSchool")">@Uprise.Resource.ArtSchool</a>
                </div>
            </div>


        </div>
    </div>
</section>

<section class="art_area p_120">
    <div class="container">
        <div>
            <h3 class="mb-30 title_color text-center">@Uprise.Resource.ArtSchool</h3>
            <div class="row">
                <div class="col-md-6">
                    <img src="~/Images/SiteImages/courses/art/g18.jpg" />
                </div>
                <div class="col-md-6">
                    <p>
                        Метою даного курсу є розвиток у дітей творчих здібностей, уяву,креативність, відчуття прекрасного та всебічне духовне збагачення дітей.
                        Ми постійно слідкуємо за новинками в сучасному світі в сфері нових матеріалів та нових художніх трендів.  Наші уроки є цікавими, а роботи наших дітей-- креативними!!!
                        Ви хочете, щоб ваша дитина менше сиділа за лептопом або планшетом граючи в непотрібні ігри? Хочете, щоб вона подивилася на світ через призму прекрасного? Тоді вам до нас!!)
                    </p>
                    <h3 class="text-center">Даний напрямок включає в себе різнопланові заняття:</h3>

                    <div class="education_course_wrap">
                        <ul style="list-style-image:url(../../Images/SiteImages/courses/art/brush.png);font-size:20px;color:black;padding:20px;">
                            <li>Малювання в різних техніках , на різних фактурах та з використання різних матеріалів</li>

                            <li>Ліплення</li>

                            <li>Різні роботи в стилі hand-made</li>

                            <li>Вивчення колористики та правила декору</li>

                            <li>Ознайомлення дітей з видами художніх метеріалів, сферою їх застосування та правила поводження з матеріалами</li>
                        </ul>

                    </div>
                </div>

                   

                </div>
            </div>
    </div>
    </div>
</section>




