
@{
    ViewBag.Title = "Uprise Centre - Курси - Англійська мова";
}
<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h2>@Uprise.Resource.English</h2>
                <div class="page_link">
                    <a href="@Url.Action("Index")">@Uprise.Resource.Home</a>
                    <a href="@Url.Action("Courses")">@Uprise.Resource.Courses</a>
                    <a href="@Url.Action("English")">@Uprise.Resource.English</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================Courses Area =================-->
<section class="courses_area p_120">
    <div class="container">
            <div>
                <h3 class="mb-30 title_color text-center">@Uprise.Resource.TitleEnglish</h3>
                <div class="row">
                    <div class="col-md-6" data-aos="fade-up">
                        <div class="single-defination">
                            <div class="about-img-1 animate-box fadeInUp animated-fast"  style="height:250px; margin-bottom:10px; background-image: url(../../Images/SiteImages/childrensIMG/cheldren1.jpg);"></div>
                            <h4 class="mb-20" style="">@Uprise.Resource.TitleEnglish1</h4>

                            <p>
                                Курси проходять окремо для 1, 2, 3 та 4 класів.
                                Викладання проходить з використання підручників британського видавництва Express Publishing FairyLand 1,2,3 4 відповідно для кожної вікової групи.
                                <strong>Fairyland – це преміум курс, розроблений спеціально  для початкової  школи.</strong>
                                Рушайте в дивовижну подорож разом з Fairyland , в якій вас чекає світ, сповнений чар і пригод. Курс виконаний у дуже захоплюючій формі, пройдіть випробування і отримаєте у винагороду знання і досвід. Навчальний шлях супроводжують чарівні герої, які допоможуть учням вивчити граматику і лексику англійської мови. Підручник містить всі необхідні компоненти для залучення учнів до вивчення іноземної мови. Лексика представлена в простому, але ефективному вигляді, а точніше у вигляді діалогів, пісеньок, віршиків та ігор. Підручник містить чотири модулі, які в свою чергу складаються з восьми юнітів, в яких на учнів чекають різні вправи на активність і комунікативність, що стимулюють до вивчення англійської мови. Учні зміцнюють мову за допомогою простих, але цікавих і різноманітних діалогів. Також в підручнику присутній розділ з наклейками, оскільки наклейки не просто красиві і веселі, вони є ефективним інструментом навчання.  Вони дають відмінну можливість залучити тактильні відчуття учнів і тим самим легко запам'ятати нову лексику, оскільки учні використовують наклейки для розпізнавання зображень і для сприйняття на слух. Робочий зошит (Activity Book) повністю кольоровий і містить різні веселі вправи, які зміцнюють пройдений матеріал в кожному з юнітів. Він може бути використаний як в класі, так і для домашніх завдань.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6" data-aos="fade-up">
                        <div class="single-defination">
                            <div class="about-img-1 animate-box fadeInUp animated-fast" style="height:250px; margin-bottom:10px; background-image: url(../../Images/SiteImages/childrensIMG/cheldren2.jpg);"></div>
                            <h4 class="mb-20">@Uprise.Resource.TitleEnglish2</h4>

                            <p>
                                Курс розрахований для дітей віком 4-6 років.
                                Викладання проходить за бритинськими підручниками New English Adventure, видавництво Pirson.
                                Це не просто підручники -- це магія!) Вони включають в собі потужну комбінацію історій та персонажів мультсеріалів Disney/Pixar, які діти знають та люблять, з практичними заняттями, які базуються на твердих принципах освіти.
                                New English Adventure мотивує дітей через цікаві персонажі з улюблених анімаційних фільмів, даючи паралельно хороші практичні навики.
                                На наших заняттях діти слухають історії, грають у цікаві ігри, співають пісні, вчаться правильно комунікувати  з іншими дітьми та вивчають соціальні цінності вцілому.  І все це звісно, англійською мовою.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6" data-aos="fade-up">
                        <div class="single-defination">
                            <div class="about-img-1 animate-box fadeInUp animated-fast"  style="height:250px;  margin-bottom:10px; background-image: url(../../Images/SiteImages/childrensIMG/cheldren3.jpg);"></div>
                            <h4 class="mb-20">@Uprise.Resource.TitleEnglish3</h4>

                            <p>
                                Викладання проходить з використання лінійки підручників On Screen від британського видавництва Express Publishing<br />
                                Лінійка підручників On Screen охоплює 6 рівнів   – A1, A2, B1, B1+, В2 і В2+ (відповідно до кожної вікової категорії). Він допоможе підготуватися до зовнішнього незалежного оцінювання та розвинути всі чотири мовні навички   – читання, письмо, аудіювання та говоріння. Завдяки новим прогресивним компонентам цей підручник допоможе зробити ваші уроки сучасними і надзвичайно насиченими.
                                <br/><strong>Компоненти:</strong><br />
                                Student`s Book + i-eBook – підручник з унікальним інтерактивним диском, який містить електронну версію підручника і всі аудіо записи до нього, а також автентичне відео (4-7 фрагментів до кожного модуля), всі вправи підручника можна виконати на комп`ютері, відповідей до них немає, але під час виконання вправи учень бачить, чи є помилки і скільки їх, також диск містить додаткові розділи: Dictation, Games, Quiz, Writing Games
                                Writing Book – буклет з розвитку навичок письма додається до кожного підручника рівнів В1 +, В2 і В2 +, містить Writing Bank   – підсумковий розділ, де чітко вказані принципи написання різних типів творчого письма, що допомагають ефективно підготуватися до виконання одного з найскладніших типів завдань (теорія, модель, план, тренувальні вправи.
                                Workbook & Grammar Book – робочий зошит з поглибленим вивченням граматики<br />
                                <ul>
                                    <li>Ключові особливості даного курсу:</li>
                                    <li>Комплексний підхід до розвитку всіх чотирьох мовних навичок</li>
                                    <li>Модульна система, кожен з восьми юнітів містить кілька різних тем, що дозволяє охопити в кожному рівні приблизно 20-25 тим</li>
                                    <li>Підручник містить секцію Vocabulary з тематичної лексикою</li>
                                    <li>Зошит містить секцію Vocabulary Bank з додатковими вправами для закріплення і активізації лексики</li>
                                    <li>Велика кількість завдань для читання, аудіювання та говоріння</li>
                                    <li>Чіткий виклад і поглиблена практика граматичних структур</li>
                                    <li>Завдання, що розвивають критичне мислення, а також мотивують проводити дослідження в інтернеті</li>
                                    <li>Додаткова секція, яка містить моделі для розвитку навичок письма</li>
                                    <li>Реалістичні завдання для роботи в парі, а також в групі</li>
                                    <li>Секція для розвитку мови і інтонації</li>
                                    <li>Розвиток навчальних навичок, що допоможе учням стати самостійними</li>
                                    <li>Секція розвитку практичних навичок, підготує учнів до використання мови в реальних життєвих ситуаціях</li>
                                    <li>Країнознавча секція</li>
                                    <li>Секції присвячені повторенню і міжпредметним зв`язкам
                                    <li>Підручник містить цінні поради і стратегії щодо виконання завдань тестового характеру, а також численні тренувальні вправи</li>
                                    <li>Робочий зошит містить не тільки лексичні та граматичні вправи, а й вправи на розвиток рецептивних і продуктивних видів діяльності</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6" data-aos="fade-up">
                        <div class="single-defination">
                            <div class="about-img-1 animate-box fadeInUp animated-fast"  style="height:250px; margin:10px; background-image: url(../../Images/SiteImages/childrensIMG/cheldren4.jpg);"></div>
                            <h4 class="mb-20">@Uprise.Resource.TitleEngish4</h4>

                            <a>http://inyaz-school.ru/obzor-uchebnikov-serii-new-english-file-ot-oxford-university-press/</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>


@section scripts{
    <script>
        $(function () {
            $("#btnHome").removeClass("active");
            $("#btnAbout").removeClass("active");
            $("#btnCourses").addClass("active");
            $("#btnContact").removeClass("active");
        });
    </script>
}
