
@{
    ViewBag.Title = "Uprise Centre - Курси - Підготовка до школи";
}
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">

                <h2>@Uprise.Resource.PreparSchool</h2>
                <div class="page_link">
                    <a href="@Url.Action("Index")">@Uprise.Resource.Home</a>
                    <a href="@Url.Action("Courses")">@Uprise.Resource.Courses</a>
                    <a href="@Url.Action("PreparToSchool")">@Uprise.Resource.PreparSchool</a>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="courses_area p_120">
    <div class="container">
        <div class="section-top-border">
            <div class="row">
                <h2>@Uprise.Resource.PreparSchool</h2>
                <p>
                    Викладання ведеться за підручниками О.Гісь "Школа міркувань", які одобрені Міністерством освіти України для використання в дошкільних закладах та індивідуальної роботи батьків з дітьми.
                    Додатково під час занять використовується багото допоміжних матеріалів; різного виду шнурівки, пазли, дерев"яні сортери, математичні планшети, ігри на логіку, картки Домана та інше.
                    Метою даного курсу є розвиток у дітей логічного мислення, дрібної моторики рук, навчити працювати у команді, навчити правильно висловлювати свою думку, але при цьому прислухатися і до думки інших людей, психологічно та фізично підготувати дітей до школи вцілому.
                </p>

                <h3 class="text-center">Курс розраховано на діток 4-6 років та включає в себе три комплексні напрямки:</h3>

                <div class="education_course_wrap col-lg-12">
                    <ul>
                        <li>Логічне мислення</li>

                        <li>Абетка</li>

                        <li>Математика</li>

                        
                    </ul>

                </div>

            </div>
        </div>
    </div>

</section>

