
@{
    ViewBag.Title = "Uprise Centre - Курси - Програмування і дизайн";
}
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h2>@Uprise.Resource.ProgrammingAndDesign</h2>
                <div class="page_link">
                    <a href="@Url.Action("Index")">@Uprise.Resource.Home</a>
                    <a href="@Url.Action("Courses")">@Uprise.Resource.Courses</a>
                    <a href="@Url.Action("ProgADesign")">@Uprise.Resource.ProgrammingAndDesign</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="programming_area p_120">
    <div class="container">
        <h3 class="mb-30 title_color text-center"> Програмування та Дизайн</h3>
        <p class="text-center" style="font-size:20px;">Uprise Centre пропонує 6 різних курсів  програмування  для дітей віком 9-11 років та 11-14 років , а саме:</p>
        <div class="row progplanes" style="padding-top:20px;">
            <div class="col-md-6 item" data-aos="fade-up">
                <div class="item-inner">
                    <img src="~/Images/SiteImages/courses/program/beginner.png" />
                    <div class="single-defination" style="font-size:17px;">
                        <h3 class="text-center">User</h3>
                        <div class="progplan">
                            За чотири місяці навчання ваша дитина


                            <ul>
                                <li>стане впевненим користувачем ПК,</li>



                                <li>
                                    зможе створити свій акаунт та почту
                                </li>



                                <li>
                                    навчиться працювати в інтернеті з різними пошуковими системами
                                </li>



                                <li>
                                    працювати з гугл документами (а також з програмами Microsoft Office - Word, Excel, PowerPoint)
                                </li>


                                <li>
                                    створить своє перше дизайнерське портфоліо (візитку, логотип, рекламний буклет та листівку - працюючи в різних графічних редакторах: Photoshop, Illustrator)
                                </li>


                                <li>
                                    розробить свою першу комп’ютерну гру (Skretch)
                                </li>


                                <li> навчиться створювати сайти за допомогою Wix \ Tilda</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 item" data-aos="fade-up">
                <div class="item-inner">
                    <img style="display:block;margin:auto;" src="~/Images/SiteImages/courses/program/maker.png" />
                    <div class="single-defination">
                        <h3 class="text-center">Maker</h3>
                        <div>
                            За чотири місяці навчання ваша дитина:
                            <ul>


                                <li>
                                    навчиться створювати інтерактивні сайти за допомогою HTML\CSS\JavaScript
                                </li>


                                <li>
                                    зробить свій перший мобільний додаток на Android
                                </li>


                                <li>створить дизайн ком’ютерної гри та саму гру</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 item" data-aos="fade-up">
                <div class="item-inner">
                    <img style="display:block;margin:auto;" src="~/Images/SiteImages/courses/program/hacker.png" />
                    <div class="single-defination">
                        <h3 class="text-center">Hacker</h3>
                        <div>
                            За чотири місяці навчання ваша дитина:
                            <ul>
                                <li>
                                    навчиться програмувати на мові С++
                                </li>

                                <li>
                                    зможе самостійно встановити програмне забезпечення
                                </li>

                                <li>
                                    дізнається як захистити комп’ютер від вірусів
                                </li>

                                <li>
                                    розробить власну гру за допомогою Unity3D
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 item" data-aos="fade-up">
                <div class="item-inner">
                    <img style="display:block;margin:auto;" src="~/Images/SiteImages/courses/program/designer.png" />
                    <div class="single-defination">
                        <h3 class="text-center">Designer</h3>
                        <div>
                            За чотири місяці навчання ваша дитина:
                            <ul>


                                <li>

                                    навчиться розробляти корпоративний стиль для бізнесу http://torrent-soft.net/torrent-teach/163-mila-rogozyan-reklamnyy-dizayn-v-photoshop-20-proektov-2011-dvdrip.html
                                </li>

                                <li>
                                    створить свій власний дизайнерський сайт-портфоліо
                                </li>

                                <li>
                                    освоїть мистецтво фотографії (предметна і портретна зйомка)
                                </li>

                                <li>
                                    засвоїть принципи UI-UX дизайну
                                </li>

                                <li>
                                    навчиться розробляти дизайн інтер’єру
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 item" style="display: inline-block;vertical-align: top;float: none;" data-aos="fade-up">
                <div class="item-inner">
                    <img style="display:block;margin:auto;" src="~/Images/SiteImages/courses/program/youtube.png" />
                    <div class="single-defination">
                        <h3 class="text-center">Youtuber</h3>
                        <div>
                            За чотири місяці навчання ваша дитина:

                            <ul>


                                <li>
                                    навчиться знімати та обробляти відео
                                </li>

                                <li>
                                    засвоїть монтаж та MotionVideo
                                </li>

                                <li>
                                    створить власний ютуб-канал
                                </li>

                                <li>
                                    навчиться працювати з критикою в соц.мережах
                                </li>

                                <li>
                                    пройде курс акторського та ораторського мистецтва
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 item" data-aos="fade-up">
                <div class="item-inner">
                    <img style="display:block;margin:auto;" src="~/Images/SiteImages/courses/program/brand.png" />
                    <div class="single-defination">
                        <h3 class="text-center">Advertiser</h3>
                        <div>
                            За чотири місяці навчання ваша дитина:

                            <ul>


                                <li>
                                    навчиться основам побудови бренду
                                </li>

                                <li>
                                    пройде курс по копірайтингу
                                </li>

                                <li>
                                    освоїть принципи реламної стратегії
                                </li>

                                <li>
                                    розвиватиме бізнес мислення
                                </li>

                                <li>
                                    навчиться просувати себе як бренд через Instagram та Facebook
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p style="font-size:18px;" data-aos="fade-up"><br />
            <strong>Курс User обов`язковий для проходження всіх дітей, які хочуть навчитися програмувати! Після успішного його проходження, ваша дитина вибере напрямок, який її найбільш цікавить.

            Якщо ви хочете, щоб ваша дитина отримала сучасні навики та сучасну професію, тоді вам до нас!</strong>
        </p>
            </div>
   
</section>

@section Scripts{
    <script>
        $(function () {
            $(".programming_area .item").hover(function () {
                $(this).find(".progplan").first().addClass("opacity1");
            }
            );
        });
    </script>
}